html {
  font-family: 'Roboto', sans-serif;
}
.ls-section:nth-child(1) {
  background-color: teal;
  color: white;
}
.ls-section:nth-child(2) {
  background-image: url('./chicago-skyline-sm.jpg');
  background-size: cover;
  color: white;
}
.ls-section:nth-child(3) {
  background-color: #1E1F21;
  color: white;
}
.ls-section:nth-child(4) {
  background-color: teal;
  color: white;
}
.content {
  padding-top: 30vh;
  margin-top: 0px;
}
.content.left {
  padding-top: 20vh;
  margin-top: 0px;
  text-align: left;
  margin-left: 15rem;
  margin-right: 15rem;
}
@media (max-width: 960px) {
  .content.left {
    margin-left: 7.5rem;
    margin-right: 7.5rem;
  }
  h1 {
    font-size: 4rem !important;
  }
  h2 {
    margin-top: 1.4rem !important;
    margin-bottom: 1.4rem !important;
  }
}
@media (max-width: 880px) {
  .img-display {
    width: 100%;
  }
}
h1 {
  font-size: 5rem;
}
h1.dark {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 24px;
  text-align: right;
  margin-left: 0px;
  font-weight: 100;
}
h2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
  font-weight: 200;
}
.img-display {
  max-height: 55vh;
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}
a.dl-link {
  text-decoration: none;
}
a.dl-link * {
  vertical-align: middle;
}
a.dl-link h2 {
  color:white;
  display:inline;
  margin-left:2rem;
  margin-bottom:4px;
}
